#pali-lookup {
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;

	#eng-words {
        background-color: var(--dark-accent);
		color: white;

		.selected {
			background-color: var(--mid-accent);
			color: black;
		}
	}

	#pali-words {
		background-color: var(--light-accent);

		.selected {
			background-color: white;
		}
	}

	.words {
		width: 100%;
		height: 50vh;
		overflow: auto;

		div {
			padding: 5px 10px;
		}

		.selected {
			font: bold 1.9em "Barlow Semi Condensed";
			flex: 1;
		}
	}
}
