header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.fern-haus-link {
		width: 100%;
		background-color: cadetblue;
		display: inline-block;
		text-decoration: none;

		&:hover {
			background-color: #333;

			.fern-haus-info {
				img {
					filter: grayscale(100%);
					filter: invert(100%);
				}

				h4 {
					color: #ccc;
				}
			}
		}

		.fern-haus-info {
			padding: 10px;
			color: white;
			display: inline-flex;
			align-items: center;

			img {
				height: 40px;
				width: auto;
			}

			h4 {
				display: flex;
				align-items: center;
				margin: 0 auto;
			}
		}
	}

	#d2d-header {
		width: 100%;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1;
		flex-direction: column;

		a {
			color: var(--dark-accent);
			font-family: "Barlow Semi Condensed", sans-serif;

			&:hover {
				color: var(--mid-accent);
			}
		}

		h2,
		p {
			font-weight: 100;
			margin: 0 auto;
		}
	}
}

html,
body,
#root,
#pali-lookup,
#all-words {
	height: 100%;
}

#pali-lookup {
	text-align: center;

	header {
		height: 150px;
	}

	#all-words {
		height: calc(100% - 150px);

		#eng-words {
			background-color: var(--light-accent);

			.selected {
				background-color: white;
			}
		}

		#pali-words {
			background-color: var(--dark-accent);
			color: white;

			.selected {
				background-color: var(--mid-accent);
				color: black;
			}
		}

		.words {
			height: 50%;
			overflow: auto;

			div {
				padding: 5px 10px;
			}

			.selected {
				font: bold 1.9em "Barlow Semi Condensed";
				flex: 1;
			}
		}
	}
}
