html,
body,
#root,
#pali-quiz {
  height: 100%;
}

header .fern-haus-link,
footer .fern-haus-link {
  width: 100%;
  background-color: cadetblue;
  display: inline-block;
  text-decoration: none;
}

header .fern-haus-link:hover,
footer .fern-haus-link:hover {
  background-color: #333;
}

header .fern-haus-link:hover .fern-haus-info img,
footer .fern-haus-link:hover .fern-haus-info img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

header .fern-haus-link:hover .fern-haus-info h4,
footer .fern-haus-link:hover .fern-haus-info h4 {
  color: #ccc;
}

header .fern-haus-link .fern-haus-info,
footer .fern-haus-link .fern-haus-info {
  padding: 10px;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .fern-haus-link .fern-haus-info img,
footer .fern-haus-link .fern-haus-info img {
  height: 40px;
  width: auto;
}

header .fern-haus-link .fern-haus-info h4,
footer .fern-haus-link .fern-haus-info h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

header #d2d-header,
footer #d2d-header {
  background-color: white;
  padding: 20px;
}

header #d2d-header a,
footer #d2d-header a {
  color: var(--dark-accent);
  font-family: "Barlow Semi Condensed", sans-serif;
}

header #d2d-header a:hover,
footer #d2d-header a:hover {
  color: var(--mid-accent);
}

header #d2d-header h2,
header #d2d-header p,
footer #d2d-header h2,
footer #d2d-header p {
  font-weight: 100;
  margin: 0 auto;
}

#pali-quiz {
  text-align: center;
  --square-dim: 110px;
  --margin: 10px;
  --max-num-per-row: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#pali-quiz button {
  width: 150px;
  background-color: var(--dark-accent);
  color: white;
  border: 0;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px 0;
  padding: 8px 0;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  font: 700 1.2em "Barlow Semi Condensed";
  text-align: center;
  text-transform: uppercase;
}

#pali-quiz button:disabled, #pali-quiz button[disabled] {
  background-color: white;
  color: black;
}

#pali-quiz #description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#pali-quiz #description h1 {
  font-family: "Barlow Semi Condensed", sans-serif;
}

#pali-quiz #description h2 {
  font-weight: 100;
  margin-bottom: 0;
}

#pali-quiz #board-and-scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 40px;
}

#pali-quiz #board-and-scores #board,
#pali-quiz #board-and-scores #grid,
#pali-quiz #board-and-scores .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pali-quiz #board-and-scores #board #grid {
  max-width: calc( (var(--square-dim) * var(--max-num-per-row)) + (var(--margin) * (var(--max-num-per-row) + 1)));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#pali-quiz #board-and-scores #board #grid .square {
  width: var(--square-dim);
  height: var(--square-dim);
  background-color: var(--dark-accent);
  color: #fff;
  font: bold 0.95em "Barlow Semi Condensed";
  margin: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  word-break: break-word;
}

#pali-quiz #board-and-scores #board #grid .matched {
  background-color: var(--mid-accent);
  color: black;
}

#pali-quiz #board-and-scores #board #grid .selected {
  background-color: lightsalmon;
}

#pali-quiz #board-and-scores #scores {
  background-color: white;
  padding: 5px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#pali-quiz #board-and-scores #scores div .label {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

#pali-quiz #board-and-scores #scores div .score-num {
  color: var(--dark-accent);
  font-weight: bold;
}
/*# sourceMappingURL=pali-quiz.css.map */