@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap");

#paths {
	margin: 15px auto 0;
	position: relative;
	z-index: 1000000;

	&,
	* {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-family: "Archivo Narrow";
	}

	* {
		text-transform: uppercase;
	}

	#header {
		max-width: 600px;
		margin-bottom: 15px;

		&,
		a {
			display: inline-block;
			font-size: 18px;
			text-transform: inherit;
			font-size: 1.3rem;
			font-weight: bold;
		}

		a {
			color: var(--cool-purple);
			text-decoration: none;

			&:hover {
				color: var(--dark-accent);
			}
		}
	}

	&,
	.path-group {
		flex-direction: column;
	}

	#path-groups {
		width: 100vw;
		align-items: stretch;
		justify-content: center;

		.path-group {
			flex: 1;
			max-width: 200px;
			box-sizing: border-box;
			margin: 5px;
			border-radius: 10px;
			background-color: var(--cool-purple);
			color: white;
			font-weight: bold;
			padding: 5px 0;

			div {
				text-transform: uppercase;

				&:nth-child(2) {
					margin-bottom: 2px;
				}
			}

			button {
				width: 100%;
				padding: 1.5px;
				word-break: break-all;
				display: inline-block;
				text-align: center;
				background: var(--mid-accent);
				font-weight: bold;
				border: 2px solid var(--dark-accent);
				margin: 3px;

				&:hover {
					background-color: white;
					cursor: pointer;
				}
			}
		}
	}
}
